<!-- Contact Section -->
<a class="anchor" id="contact"></a>
    <section class="section-odd">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h3> <i class="fa fa-envelope"></i> <a href="mailto:hello@federico.io">hello@federico.io</a></h3>
                </div>
            </div>
        </div>
    </section>