<!-- Portfolio Grid Section -->
<a class="anchor" id="research"></a>
    <section class="section-odd">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Research</h1>
                </div>
				<!-- AMoD -->
				<div class="col-md-12 text-left">
				<h3> Autonomous Mobility on Demand </h3>
				</div>
				<div class="col-md-4">
					<img class="img-responsive" src="v" alt="A congestion-aware rebalancing algorithm delivers lower customer waiting times and less congestion than a legacy algorithm. From RSS '16">
				</div>
				<div class="col-md-8">
					<p>
					Self-driving cars can greatly increase safety of our roads and enhance mobility for those unable or unwilling to drive.<br>
					Today, private vehicles spend more than 90% of their lives idle, parked either at home or at work. With self-driving cars, this could change drastically:  shared autonomous vehicles, part of an Autonomous Mobility-on-Demand (AMoD) system, could operate like taxis, driving from a passenger's destination to the next passenger's departure location. Fewer vehicles and, with no need to park, more room for homes and businesses!</p>
					
<p>					But how should the passengers be assigned to the vehicles? Can we anticipate passenger demand and preemptively rebalance vehicles across a city to decrease waiting times? Can we ensure that self-driving vehicles won't increase traffic congestion? If the vehicles are electric, when should we charge their batteries to make sure they are on the road when they are needed? Will thousands of vehicles recharging at once destabilize the power grid? How should these sistems interact with existing infrastructure, such as the subway and commuter trains?<br>
					Our research strives to answer these questions.	
					</p>
				</div>
				
				<!-- Consensus -->
				<div class="col-md-12 text-left">
				<h3> Decentralized decision-making in robotic networks </h3>
				</div>
				<div class="col-md-4">
					<img class="img-responsive" src="img/LocalClustering.svg" alt="Depending on the trade-off between robustness and energy consumption, agents connect in more or less hierarchical structures. From Allerton '13">
				</div>
				<div class="col-md-8">
					<p>
How can networks of hundreds or thousands of robots make decisions quickly, efficiently and robustly? How much time, battery power and wireless bandwidth is required to reach an agreement in a robotic swarm? <br>
Our research explores the fundamental performance limitations of distributed consensus and the tradeoffs between time complexity, message and byte complexity (both proxies to battery usage), bandwidth complexity and robustness of algorithms for decentralized decision-making. <br>
Applications include leader election, data fusion and distributed optimization in robotic networks.
					</p>
				</div>



            </div>
        </div>
    </section>