<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="img-head" src="img/Fede_Paris_Foucault.jpg" alt="Federico in front of Foucault's pendulum at the Pantheon, Paris. Image credit: Valentina Ricchiuti">
				<!-- </div>
                <div class="col-md-8 header intro-text"> -->
                    
					<!-- <span class="name">Federico Rossi </span>
					<span class="skills">
						Ph.D. Candidate, Aeronautics and Astronautics  <br>
						Autonomous Systems Laboratory  <br>
						Stanford University  <br>
					</span> -->
						
					</div>	
					            <div class="col-md-7">
					<p>I am a Ph.D. candidate in <a href="https://aa.stanford.edu">Aeronautics and Astronautics</a> at <a href="https://www.stanford.edu">Stanford University</a>. My advisor is Prof. <a href="https://web.stanford.edu/~pavone">Marco Pavone</a>, director of the <a href="http://asl.stanford.edu">Autonomous Systems Laboratory</a>. My current research focuses on Autonomous Mobility on Demand: we build models and design control algorithms for fleets of self-driving vehicles at the city scale.</p>
					<p>
					I received a M.Sc. in <a href="https://www.aero.polimi.it/">Space Engineering</a> from <a href="https://www.polimi.it">Politecnico di Milano</a>, a M.Sc. in <a href="http://www.dimeas.polito.it/">Aerospace Engineering</a> from <a href="http://www.polito.it/">Politecnico di Torino</a> and the Diploma from the <a href="http://www.asp-poli.it/">Alta Scuola Politecnica</a> in 2013. In 2011-2012, I spent seven months at <a href="http://www.isae.fr/">SUPAERO</a> as an exchange student (Admis Sur Titre). Prior to that, I received my B.Sc. in <a href="https://www.aero.polimi.it/">Aerospace Engineering</a> from <a href="https://www.polimi.it">Politecnico di Milano</a> in 2010.	
					</p>
					<p>When not in the lab, I enjoy <a href="https://www.youtube.com/watch?v=z3DQV03nuew">astronomy</a>, photography and reading.</p>
					
                </div>
				
        </div>
    </div>
</header>
